<!DOCTYPE html>
<html>
<head>
	<title>Mastermind</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/splashstyle.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="icon" href="images/favicon.png" type="image/png">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="text-container">
		<div class="cont1">
		<h1>mastermind</h1>
		<div class="dash"></div>
	</div>
	<p>The shortest it took anyone to win this game was <%= Math.floor(shortestTime/60) < 10 ? '0'+Math.floor(shortestTime/60) : Math.floor(shortestTime/60) %>:<%= (shortestTime%60) < 10 ? '0'+shortestTime%60 : shortestTime%60 %> minutes.</p>
	<p><%= gamesInitialized-1 %> 
                    <%if (gamesInitialized != 2) { %>
                        games have
                    <% } else { %>
                        game has
                    <% } %>
                     been played so far.</p>
	<p>The pattern is guessed in <%= gamesInitialized != 1 ? (gamesInitialized - 1 - aWins)/(gamesInitialized-1)*100 : 0 %>% of games.</p>
	
	<form action="/play" method="get">
            <button type="submit">PLAY</button>
    </form>
</div>
</body>
</html>